:root {
        --ic-brand-primary-darkened-5: #006244;
--ic-brand-primary-darkened-10: #005D40;
--ic-brand-primary-darkened-15: #00583D;
--ic-brand-primary-lightened-5: #0C6E50;
--ic-brand-primary-lightened-10: #197659;
--ic-brand-primary-lightened-15: #267D62;
--ic-brand-button--primary-bgd-darkened-5: #006244;
--ic-brand-button--primary-bgd-darkened-15: #00583D;
--ic-brand-button--secondary-bgd-darkened-5: #435C64;
--ic-brand-button--secondary-bgd-darkened-15: #3C525A;
--ic-brand-font-color-dark-lightened-15: #47535C;
--ic-brand-font-color-dark-lightened-28: #636D75;
--ic-link-color-darkened-10: #005570;
--ic-link-color-lightened-10: #196E89;
--ic-brand-primary: #006747;
--ic-brand-font-color-dark: #273540;
--ic-link-color: #005e7c;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #466069;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #006747;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #006747;
--ic-brand-global-nav-avatar-border: #dbe442;
--ic-brand-global-nav-menu-item__badge-bgd: #9ccb3b;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #006747;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_130000000086643/attachments/50496383/USFLearn%20Nav%20Logo%20middle%20white.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1923637177&Signature=HzvmAtXYoZSsrNmZQDpRSZRfcHY%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_130000000086643/attachments/50496384/USFico2.ico?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1923637177&Signature=D7kXR1jQzqcpw2IrjQDHVWxcYM0%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-apple-touch-icon: url('https://instructure-uploads.s3.amazonaws.com/account_130000000086643/attachments/50496385/USFLearn%20Nav%20Logo%20mobile%20homescreen%20180%20white.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1923637177&Signature=SEXRMvzrDwIv%2B6Mu4UGHUUKU14s%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_130000000086643/attachments/50496386/USFLearn%20Nav%20Logo%20windows%20tile%20square%20558%20white.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1923637177&Signature=V0r0Soc7BnXyt7gJGj00kGEpeSA%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_130000000086643/attachments/50496387/USFLearn%20Nav%20Logo%20windows%20tile%20wide%20558%20white.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1923637177&Signature=INdX0OQ%2BxRm9JNxVgsSw1HxSjZg%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #006747;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #006747;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_130000000086643/attachments/50496387/USFLearn%20Nav%20Logo%20windows%20tile%20wide%20558%20white.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1923637177&Signature=INdX0OQ%2BxRm9JNxVgsSw1HxSjZg%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-Login-Content-bgd-color: #006747;
--ic-brand-Login-Content-border-color: #006747;
--ic-brand-Login-Content-inner-bgd: #006747;
--ic-brand-Login-Content-inner-border: #006747;
--ic-brand-Login-Content-inner-body-bgd: #006747;
--ic-brand-Login-Content-inner-body-border: #006747;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #006747;
--ic-brand-Login-footer-link-color-hover: #006747;
--ic-brand-Login-instructure-logo: #ffffff;
      }